spring:
  profiles:
    active: local # Activate "local" profile by default
  jackson:
    default-property-inclusion: non_null
  messages:
    basename: i18n/messages
  mvc:
    # Throw NoHandlerFoundException
    # See https://stackoverflow.com/questions/36733254/spring-boot-rest-how-to-configure-404-resource-not-found#36734193
    throw-exception-if-no-handler-found: true
    problemdetails:
      enabled: true
  web:
    resources:
      # Throw NoHandlerFoundException
      # See https://stackoverflow.com/questions/36733254/spring-boot-rest-how-to-configure-404-resource-not-found#36734193
      add-mappings: false
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      poolName: Hikari
      auto-commit: false
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  liquibase:
    change-log: classpath:liquibase/master.yml
  kafka:
    producer:
      key-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      schema.registry.url: http://localhost:8081
    properties:
      schema.registry.url: http://localhost:8081
server:
  port: 50001
  tomcat:
    # Allow pipe character in URL to support passing commas such as "createdAt,asc"
    relaxed-query-chars: "|"
application:
  db:
    host: ${DB_HOST}
    port: ${DB_PORT}
    name: ${DB_NAME}
    user: ${DB_USERNAME}
    password: ${DB_PASSWORD}
